body {
background: #676767
}

#title, .subtitle, .post_title {
    color: blue;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
background: cornsilk;
padding: 15px;
border: 3px solid black;
border-top: 2px dotted green;
border-right: 4px dashed pink;
border-bottom: 1px solid purple;
margin:0;
margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin: 0;
    margin-bottom: 15px;
}